name: Build xmrig-mo in docker
on:
  push:
permissions:
  packages: write
jobs:
  cuda:
    runs-on: ubuntu-latest
    steps:
    - uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}
    - uses: actions/checkout@v2
    - uses: docker/build-push-action@v2
      with:
        context: ./
        push: true
        file: ./Dockerfile.cuda
        tags: |
          ghcr.io/davidshen84/xmrig-cuda-11:6.16.2-mo2
